@model List<Web.Entities.Producer>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>PhoneNumber</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producer in Model)
        {
            <tr>
                <td>@producer.ID</td>
                <td>@producer.Name</td>
                <td>@producer.Location</td>
                <td>@producer.PhoneNumber</td>
                <td>@producer.Email</td>
            </tr>
        }
    </tbody>
</table>
